# Census Bureau Quarterly Tax Data

In [1]:
import numpy as np
import pandas as pd
import re

In [4]:
OCR_DIR = "../../data/raw-data/cb-tax/ocr/"

In [12]:
df = pd.read_csv(OCR_DIR + "cleaned.txt", delim_whitespace=True)
df

,period,total,state,local,property,generalsales,fuel,individualincome,corporateincome,licenses,other
0,1968-Q4,"21,254","9,035","12,219","11,310","3,496","1,424","1,728",519,413,"2,364"
1,1968-Q3,"15,971","8,716","7,255","6,253","3,305","1,480","1,720",455,369,"2,389"
2,1968-Q2,"19,217","11,206","8,011","7,093","3,265","1,331","2,725",958,753,"3,092"
3,1968-Q1,"16,752","9,983","6,769","6,001","3,164","1,255","1,888",707,"1,112","2,625"
4,1967-Q4,"18,726","7,868","10,858","10,023","2,924","1,308","1,468",412,383,"2,203"
5,1967-Q3,"14,193","7,356","6,837","5,984","2,973","1,332","1,385",402,302,"2,215"
6,1967-Q2,"16,496","9,450","7,046","6,249","2,606","1,249","1,985",852,706,"2,849"
7,1967-Q1,"14,827","8,679","6,148","5,430","2,638","1,133","1,454",740,"1,055","2,377"
8,1966-Q4,"16,775","6,895","9,880","9,121.","2,505","1,225","1,218",314,351,"2,041"
9,1966-Q3,"12,624","6,808","5,e16","5,090","2,396","1,278","1,203",324,288,"2,042"
10,1966-Q2,"15,784","8,992","6,792","6,012","2,524","1,178","1,840",778,661,"2,791"
11,1966-Q1,"13,754","8,186","5,568","4,997","2,454","1,094","1,161",708,"1,051","2,289"
12,1965-Q4,"15,823","6,411","9,412","8,802","2,342","1,160",981,278,350,"1,910"
13,1965-Q3,"11,506","6,083","5,423","4,780","2,083","1,226",938,289,261,"1,929"
14,1965-Q2,"14,098","7,792","6,306","5,538","2,130","1,115","1,492",611,625,"2,587"
15,1965-Q1,"12,541","7,315","5,226","4,756","2,033","1,003","1,006",724,965,"2,054"